- extends "smartmin/base.html"
- load smartmin i18n compress

- block content

  - if rooms
    .row{ ng-controller:"ChatController", ng-init:'init({{ request.user.id }}, "{{ request.user.profile.full_name }}", {{ initial_room.id }})' }
      .col-md-3
        %ul.nav.nav-pills.nav-stacked
          - for room in rooms
            %li{ ng-controller:"RoomMenuController", ng-init:"init({{ room.id }})", ng-class:"{ active: isActive() }" }
              %a{ href:"#", ng-click:"activateRoom()" }
                {{ room.name }}
                %span.badge{ ng-if:"unread_count > 0" }
                  [[ unread_count | unread ]]

      .col-md-6
        .messages-sendform
          .input-group
            %input.form-control{ type:"text", autocomplete:"off", placeholder:"Enter message", ng-model:"new_message", ng-disabled:"sending" }
            %span.input-group-btn
              %button.btn.btn-default{type:"button", ng-click:"sendMessage()", ng-disabled:"sending"}
                -trans "Send"

        - for room in rooms
          .{ ng-controller:"RoomMessagesController", ng-init:"init({{ room.id }})", ng-show:"active_room_id == room_id" }
            %table.room-messages{ width:"100%" }
              %tr.message{ ng-repeat:"message in messages", infinite-scroll:"loadOldMessages()", infinite-scroll-disabled:"loading_old || !has_older" }
                %td.message-sender
                  %a{ ng-if:'message.sender.type == "C"', href:"/contact/read/[[ message.sender.id ]]" }
                    [[ message.sender.full_name ]]
                  %span{ ng-if:'message.sender.type == "U"' }
                    [[ message.sender.full_name ]]
                %td.message-text
                  .message-time.pull-away
                    [[ message.time | date:'short' ]]
                  [[ message.text ]]
                %td.message-time

            .messages-none{ ng-hide:"messages.length > 0" }
              -trans "No messages"

            .loading{ ng-if:"loading_old" }

      .col-md-3
        - for room in rooms
          .{ ng-controller:"RoomProfilesController", ng-init:"init({{ room.id }})", ng-show:"active_room_id == room_id" }
            .loading{ ng-if:"loading" }
            .participant{ ng-repeat:"profile in profiles" }
              .contact{ ng-if:'profile.type == "C"' }
                %span.glyphicon.glyphicon-phone
                %a{ href:"/contact/read/[[ profile.id ]]" }
                  [[ profile.full_name ]]
              .user{ ng-if:'profile.type == "U"' }
                %span.glyphicon.glyphicon-user
                [[ profile.full_name ]]

  - else
    .rooms-none
      - trans "You don't have access to any chat rooms. Contact your administrator."

- block extra-script
  :javascript

-block extra-style
  {{ block.super }}
  :css
    .messages-sendform {
      text-align: center;
      padding-bottom: 1em;
    }
    .rooms-none, .messages-none {
      text-align: center;
      font-style: italic;
      padding: 1em;
    }
    .message {
      border-bottom: 1px solid #DDDDDD;
    }
    .message:last-child {
      border: none;
    }
    .message-sender {
      background-color: #EEEEF4;
      padding: 0.5em;
      vertical-align: top;
      width: 200px;
    }
    .message-text {
      padding: 0.5em;
      vertical-align: top;
    }
    .message-time {
      font-size: 0.7em;
      color: #888;
    }
    .participant {
      padding: 0.2em;
    }

