- extends "smartmin/base.html"
- load smartmin i18n compress

- block pre-content

- block content

  - if rooms
    .row{ ng-controller:"ChatController", ng-init:'init({{ request.user.id }}, "{{ request.user.profile.full_name }}", {{ initial_room.id }}, {{ msg_text_chars }})', ng-cloak:"" }
      .col-md-3
        %ul.nav.nav-pills.nav-stacked
          - for room in rooms
            %li{ ng-controller:"RoomMenuController", ng-init:"init({{ room.id }})", ng-class:"{ active: isActive() }" }
              %a{ href:"#", ng-click:"activateRoom()" }
                {{ room.name }}
                %span.badge{ ng-if:"unread_count > 0" }
                  [[ unread_count | unread ]]

      .col-md-6
        .messages-sendform
          %textarea.form-control{ type:"text", autocomplete:"off", placeholder:"Enter message", maxlength:"{{ msg_text_chars }}", style:"width: 100%", ng-model:"new_message", ng-disabled:"sending", ng-change:"onNewMessageChanged()", ng-trim:"false" }
          .messages-sendform-controls.clearfix
            %span.pull-left.sender-name
              {{ request.user.profile.chat_name }}
            %button.btn.btn-default.pull-right{type:"button", ng-click:"sendMessage()", ng-disabled:"sending"}
              -trans "Send"
            %span.pull-right.chars-left
              [[ msg_chars_remaining ]]

        - for room in rooms
          .{ ng-controller:"RoomMessagesController", ng-init:"init({{ room.id }})", ng-show:"active_room_id == room_id" }
            %table.room-messages{ width:"100%" }
              %tr.message{ ng-repeat:"message in messages", infinite-scroll:"loadOldMessages()", infinite-scroll-disabled:"loading_old || !has_older" }
                %td.message-sender{ ng-class:'{"message-sender-contact": message.from_contact, "message-sender-user": message.from_user}' }
                  %a{ href:"/contact/read/[[ message.sender.id ]]", ng-if:"message.from_contact" }
                    [[ message.sender.full_name ]]
                  %a{ href:"/user/read/[[ message.sender.id ]]", ng-if:"message.from_user" }
                    [[ message.sender.full_name ]]
                %td.message-text
                  .message-time.pull-away
                    [[ message.time | date:'MMM dd HH:mm' ]]
                    %span.glyphicon.glyphicon-time{ ng-if:'message.status == "P"', title:"Not yet sent" }
                    %span.glyphicon.glyphicon-ok{ ng-if:'message.status == "S"', title:"Sent" }
                    %span.glyphicon.glyphicon-warning-sign{ ng-if:'message.status == "F"', title:"Sending failed" }
                  [[ message.text ]]
                %td.message-time

            .none{ ng-hide:"messages.length > 0" }
              -trans "No messages"

            .loading{ ng-if:"loading_old" }

      .col-md-3
        - for room in rooms
          .{ ng-controller:"RoomParticipantsController", ng-init:"init({{ room.id }})", ng-show:"active_room_id == room_id" }
            %a.btn.btn-default{ href:"{% url 'rooms.room_read' room.pk %}", style:"width: 100%; margin-bottom: 1em" }
              - trans "Room Details"
            .loading{ ng-if:"loading" }
            .profile{ ng-repeat:"participant in participants" }
              .contact{ ng-if:'participant.type == "C"' }
                %span.glyphicon.glyphicon-phone
                %a{ href:"/contact/read/[[ participant.id ]]" }
                  [[ participant.full_name ]]
              .user{ ng-if:'participant.type == "U"' }
                %span.glyphicon.glyphicon-user
                %a{ href:"/user/read/[[ participant.id ]]" }
                  [[ participant.full_name ]]
            .none{ ng-hide:"participants.length > 0" }
              -trans "Nobody"

  - else
    .none
      - trans "You don't have access to any chat rooms. Contact your administrator."

- block extra-script
  :javascript

-block extra-style
  {{ block.super }}
  :css
    .content {
      padding-top: 20px;
    }
    .messages-sendform {
      text-align: center;
      padding-bottom: 1em;
    }
    .messages-sendform textarea {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .messages-sendform-controls {
      background-color: #F3F3F3;
      border-width: 0 0 1px 1px;
      border-style: solid;
      border-color: #CCC;
      border-radius: 0 0 4px 4px;
    }
    .messages-sendform-controls .chars-left, .messages-sendform-controls .sender-name {
      padding: 6px 12px;
      display: inline-block;
      color: #888;
    }
    .messages-sendform-controls button {
      border-bottom: none;
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .none {
      text-align: center;
      font-style: italic;
      padding: 1em;
    }
    .message {
      border-bottom: 1px solid #CCC;
    }
    .message:last-child {
      border: none;
    }
    .message-sender {
      padding: 0.5em;
      vertical-align: top;
      width: 150px;
    }
    .message-sender-contact {
      background-color: #EEFAEE;
      border-left: 0.25em solid #B5DBB7;
    }
    .message-sender-user {
      background-color: #F3F3FF;
      border-left: 0.25em solid #BEBCDD;
    }
    .message-text {
      padding: 0.5em;
      vertical-align: top;
    }
    .message-time {
      font-size: 0.7em;
      color: #888;
    }
    .profile {
      padding: 0.2em;
    }

