- extends "smartmin/list.html"

- load smartmin i18n

- block pre-content
  .page-header
    %h2
      -trans "Rooms"
  - blocktrans
    Each chat room is a contact group in RapidPro.

- block table-buttons
  - if org_perms.rooms.room_select
    %a.btn.btn-default.pull-right{ href:"{% url 'rooms.room_select' %}" }
      %span.glyphicon.glyphicon-download
      - trans "Select Groups"