- extends "smartmin/base.html"
- load smartmin i18n compress

- block content

  .{role:"tabpanel"}
    %ul#room-tabs.nav.nav-tabs{role:"tablist"}
      - for room in rooms
        %li{role:"presentation"}
          %a{role:"tab", href:"#room_{{ room.id }}", aria-controls:"room_{{ room.id }}", data-toggle:"tab"}
            {{ room.name }}

    .tab-content
      - for room in rooms
        .tab-pane{role:"tabpanel", id:"room_{{ room.id }}", data-room-id:"{{ room.id }}", ng-controller:"RoomController", ng-init:"init({{ room.id }})"}
          .{style:"text-align: center; padding: 1em"}
            %form.room-sendform
              %input{type:"hidden", name:"room", value:"{{ room.id }}"}
              .input-group
                %input.form-control{type:"text", name:"text", autocomplete:"off"}
                %span.input-group-btn
                  %button.btn.btn-default{type:"button"}
                    -trans "Send"

          %table.room-messages{ width:"100%" }
            %tr.message{ ng-repeat:"message in messages" }
              %td.message-sender
                [[ message.sender_name ]]
              %td.message-text
                [[ message.text ]]
                .message-time
                  [[ message.time | date:'short' ]]
          .room-loading{ ng-if:"loading" }
            %img{ src:"{{ STATIC_URL }}/img/loading.gif" }



- block extra-script
  :javascript
    $(function () {
      $('#room-tabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });

      $('#room-tabs a:first').tab('show');

      $('.room-sendform').each(function() {
        $(this).submit(function(event) {
          send_url = "{% url 'chat.message_send' %}?" + $(this).serialize();
          console.log(send_url);
          $.post(send_url).done(function(data) {
            console.log(data);
          });
          event.preventDefault();
        });
      });
    });

-block extra-style
  {{ block.super }}
  :css
    .room-loading {
      text-align: center;
    }
    .message {
      border-bottom: 1px solid #eee;
    }
    .message:last-child {
      border: none;
    }
    .message-sender {
      background-color: #eee;
      padding: 0.5em;
      vertical-align: top;
      width: 200px;
    }
    .message-text {
      padding: 0.5em;
      vertical-align: top;
    }
    .message-time {
      float: right;
      font-size: 0.7em;
    }

