- extends "smartmin/base.html"
- load smartmin i18n compress

- block content

  .{ role:"tabpanel", ng-controller:"ChatController", ng-init:'init({{ request.user.id }}, "{{ request.user.full_name }}", {{ rooms.0.id }})' }
    %ul#room-tabs.nav.nav-tabs{ role:"tablist" }
      - for room in rooms
        %li{ role:"presentation", ng-class:"{ active: active_room_id == {{ room.id }} }" }
          %a{ role:"tab", href:"#", ng-click:"showRoom({{ room.id }})" }
            {{ room.name }}

    .room-sendform
      .input-group
        %input.form-control{ type:"text", autocomplete:"off", ng-model:"new_message", ng-disabled:"sending" }
        %span.input-group-btn
          %button.btn.btn-default{type:"button", ng-click:"sendMessage()", ng-disabled:"sending"}
            -trans "Send"

    - for room in rooms
      .tab-pane{ role:"tabpanel", ng-controller:"RoomController", ng-init:"init({{ room.id }})", ng-show:"active_room_id == room_id" }
        %table.room-messages{ width:"100%" }
          %tr.message{ ng-repeat:"message in messages", infinite-scroll:"loadOldMessages()", infinite-scroll-disabled:"loading_old || !has_older" }
            %td.message-sender
              %a{ ng-if:"message.contact_id", href:"/contact/read/[[ message.contact_id ]]" }
                [[ message.sender_name ]]
              %span{ ng-if:"message.user_id" }
                [[ message.sender_name ]]
            %td.message-text
              .message-time.pull-away
                [[ message.time | date:'short' ]]
              [[ message.text ]]
            %td.message-time

        .room-no-messages{ ng-hide:"messages.length > 0" }
          -trans "No messages"

        .room-loading{ ng-if:"loading_old" }
          %img{ src:"{{ STATIC_URL }}/img/loading.gif" }

- block extra-script
  :javascript
    $(function () {
    });

-block extra-style
  {{ block.super }}
  :css
    .room-sendform {
      text-align: center;
      padding: 1em;
    }
    .room-loading {
      text-align: center;
    }
    .room-no-messages {
      text-align: center;
      font-style: italic;
      padding: 1em;
    }
    .message {
      border-bottom: 1px solid #DDDDDD;
    }
    .message:last-child {
      border: none;
    }
    .message-sender {
      background-color: #EEEEF4;
      padding: 0.5em;
      vertical-align: top;
      width: 200px;
    }
    .message-text {
      padding: 0.5em;
      vertical-align: top;
    }
    .message-time {
      font-size: 0.7em;
    }

