- extends "smartmin/list.html"
- load smartmin i18n

- block table-controls
  .clearfix
    .pull-away.buttons
      - if org_perms.profiles.contact_create
        %a.btn.btn-default{ href:"{% url 'profiles.contact_create_in' room.pk %}" }
          %span.glyphicon.glyphicon-plus
          - trans "Add"
