- extends "smartmin/list.html"
- load smartmin i18n

- block table-buttons
  - if org_perms.profiles.profile_create_contact
    %a.btn.btn-primary.pull-right{ href:"{% url 'profiles.profile_create_contact' %}" }
      - trans "Add"